
.movie-list {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.movie-list__movie {
	width: 185px;
	height: 265px;
	background-size: 185px 265px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	margin: 10px auto; /* auto margins on flex items make the browser sort out their spacing for you, similar ot space-between */
	position: relative;
}

.movie-list__title {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 0 10px;
	color: white;
	text-shadow: 0px 0px 1px black;
}
